DISCORD_TOKEN=your_bot_token
GUILD_ID=123456789012345678
VERIFIED_ROLE_NAME=EarthMC Verified
EARTHMC_API=https://api.earthmc.net/v3/aurora
EARTHMC_REQUESTS_PER_MINUTE=30
RETRY_INTERVAL_HOURS=24
STAFF_ROLE=Moderator
VERIFY_COOLDOWN_SECONDS=60
VERIFY_ALL_COOLDOWN_SECONDS=900
